<footer class="site-footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <h6>About</h6>
                <p class="footer-text">RoomRover is your go-to platform for booking unique stays, from cozy rooms to luxurious homes and charming farmhouses.
                Our mission is to make finding and booking accommodations easy, affordable, and enjoyable.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6 style="text-align: center;">Quick Links</h6>
                <div class="quick-links">
                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Explore Stays</a></li>
                        <li><a href="#">Become a Host</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Popular Destinations</h6>
                <ul class="footer-links">
                    <li><a href="#">New York</a></li>
                    <li><a href="#">Los Angeles</a></li>
                    <li><a href="#">San Francisco</a></li>
                    <li><a href="#">Miami</a></li>
                    <li><a href="#">Chicago</a></li>
                    <li><a href="#">Austin</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Contact Information</h6>
                <ul class="footer-links">
                    <li>Email: <a href="#">support@roomrover.com</a></li>
                    <li>Phone: <a href="#">+91 123 456 7890</a></li>
                </ul>
                <h6>Subscribe to Our Newsletter</h6>
                <p>Stay updated with the latest news, promotions, and travel tips.</p>
                <ul class="footer-links">
                    <li><button class="btn subscribe-btn"><a href="#" style="color: #fff;">Subscribe Now</a></button></li>
                </ul>
            </div>
            
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
                    <a href="#" style="color: #fe424d;">Room Rover</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>